### Imports
import(stats)

### Exports
# functions
export(preview)
export(overview)
export(plotfit)

export(nlsBoot)
S3method(summary, nlsBoot)
S3method(plot, nlsBoot)
S3method(print, nlsBoot)

export(nlsConfRegions)
S3method(plot, nlsConfRegions)
S3method(print, nlsConfRegions)

export(nlsContourRSS)
S3method(plot, nlsContourRSS)
S3method(print, nlsContourRSS)

export(nlsJack)
S3method(plot, nlsJack)
S3method(print, nlsJack)
S3method(summary, nlsJack)

export(nlsResiduals)
S3method(plot, nlsResiduals)
S3method(print, nlsResiduals)
export(test.nlsResiduals)

# Models
# growth models
export(baranyi)
export(baranyi_without_lag)
export(baranyi_without_Nmax)
export(buchanan)
export(buchanan_without_Nmax)
export(buchanan_without_lag)
export(gompertzm)

# competition models
export(jameson_buchanan)
export(jameson_baranyi)
export(jameson_without_lag)

# Michaelis models
export(michaelis)
export(compet_mich)
export(non_compet_mich)

# secondary models
export(cpm_T)
export(cpm_pH_4p)
export(cpm_pH_3p)
export(cpm_aw_3p)
export(cpm_aw_2p)
export(cpm_T_pH_aw)

# survivak models
export(albert)
export(geeraerd)
export(geeraerd_without_Nres)
export(geeraerd_without_Sl)
export(mafart)
export(trilinear)
export(bilinear_without_Nres)
export(bilinear_without_Sl)
